*{
  font-family: Helvetica;;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #181818;
  color: #EDEDED;
}

a{
  text-decoration: none;
  color: #ffba45;
  transition: .3s;
}

a:hover{
  color: #ff7a45;
}